.przyciski {
  display: flex;
}

header {
  color: var(--kolor2);
  font-size: 28px;
}

body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: linear-gradient(180deg, #000000 50%, #1a0000d7 100%);
}
