.przyciski {
  height: 30vh;
  display: flex;
}

header {
  height: 25vh;
  color: var(--kolor2);
  font-size: 28px;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #000000;
  background-image: linear-gradient(180deg, #000000 50%, #1a0000d7 100%);
}
